* {
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(137, 250, 8);
    text-align: center;
    font-size:50px;
    font-style:inherit;
    
}
body {
    background: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0.4, 0);
    font-size: 8vmin;
    background-color: aquamarine;
    cursor: pointer;
}

/* Color for O */
.o-style {
    color: darkred;
}

/* Color for X */
.x-style {
    color: blue;
}

.resetbutton,
.newbutton {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.resetbutton {
    background-color: aqua;
    color: blue;
}

.newbutton {
    background-color: greenyellow;
    color: purple;
}

.msg {
    color: darkred;
    font-size: 8vmin;
}

.messagecontainer {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide {
    display: none;
}
